
.icon-down-dir:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-arrows-cw:before { content: '\e803'; } /* '' */
.icon-twitch:before { content: '\f1e8'; } /* '' */